
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>stream from mobile to pc </title>
<script src="simplepeer.min.js"></script> 
<script   src="/socket.io/socket.io.js"></script>
<script  src='/script.js'></script>
<body>

<video id="video" width="640" height="480" autoplay></video>

<script>
    var peer
    video=document.getElementById('video')
    navigator.mediaDevices.getUserMedia({ video:  { facingMode: "environment" }}).then(function(stream) {
        video.srcObject = stream
  
        peer = new SimplePeer(
        {
            initiator: location.hash === '#init',
            trickle: false,
            stream: stream
        }
        )
        
        peer.on('signal', function (data) {
        console.log('mera')
        console.log(data)
        socket.emit('data',data)
        })
        peer.on('stream',function(stream){
            
        video.srcObject = stream;
        video.play();
        
        })
        if(location.hash === '#init')
        {
        }

   
        });
        

 

</script>
</body>

</html>